{% extends "base.html.twig" %}

{% block body %}

<h1>{{ title }}</h1>

{% if age > 18 %}
	<p>Tu es majeur</p>
{% else %}
	<p>Tu es mineur</p>
{% endif %}


<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, incidunt eligendi iure vel ipsa accusamus et dolorum. Labore excepturi necessitatibus, ad harum voluptate sunt quo. Qui aliquam libero cupiditate accusantium nostrum sit, odit, placeat in deleniti ad repellendus expedita quaerat?</p>
<p>Tempore accusamus, accusantium perferendis, natus, nisi sequi at voluptate molestiae fuga excepturi vero quidem exercitationem aperiam aliquam architecto ullam labore. Optio, sit deserunt? Repellat reprehenderit vel nobis quis amet provident, molestias voluptatum, soluta dolore facilis labore esse dignissimos aliquam quos!</p>

{% endblock %}